

body{
    padding: 0;
    margin: 0;
    background: #fff;
    position: relative;
    font-family: 'Source Sans Pro' , Arial;
}

body a{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:hover{
    text-decoration: none!important;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    margin: 0;
    line-height: 1.8em;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    margin: 0;
    padding: 0;
}

label{
    margin: 0;
}

header{
    position: absolute;
    z-index: 9;
    width: 100%;
}

.toggle,
    [id^=drop]{
        display: none;
    }

    nav{
    margin: 0;
    padding: 0;
    }

#logo a span{
    color: #fff;
}

#logo a{
    float: left;
    display: initial;
    margin: 0;
    color: #fff;
}

.logo h1 a{
    font-size: 30px;
    text-transform: capitalize;
    display: initial;
    margin: 0;
    letter-spacing: 0.02em;
    font-weight: 600;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav.mnu{
    background: rgba(51, 51, 51, 0.68);
    padding: 1.3em;
    border-bottom: 6px solid rgb(225, 181, 0);
    position: sticky;
}

nav:after{
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li{
    margin: 0;
    display: inline-box;
    float: left;
}

nav a {
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 0.075em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav a:hover{
    color: #ffb500;
}

.menu li .active a{
    color: #ffb500;
    font-weight: 600;
}

@media all and (max-width: 768px){
    #logo{
        display: block;
        padding: 0;
        text-align: center;
        float: none;
        width: 100%;
    }

    nav{
        margin: 0;
    }

    .toggle + a,
    .menu{
        display: none;
    }

    .toggle{
        display: block;
        padding: 4px 15px;
        font-size: 20px;
        text-decoration: none;
        border: none;
        float: right;
        background-color: #ffffff;
        color: #333;
        cursor: pointer;
    }

    .menu .toggle{
        float: none;
        text-align: center;
        margin: auto;
        width: 80%;
        padding: 5px;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 1px; 
    }

    .toggle:hover {
        color: #333;
        background-color: #fff;
    }
    [id^=drop]:checked + ul{
        display: block;
        background: rgba(16, 16, 16, 0.85);
        padding: 15px 0;
        text-align: center;
        width: 100%;
    }

    nav ul li{
        display: block;
        width: 100%;
        padding: 5px 0;
    }
}

@media all and (max-width: 330px){
    nav ul li{
        display: block;
        width: 94%;
    }
}

img {
    width: 100%;
}
.carousel-item h1{
    color: silver;
}
.carousel-item p{
    color: #fff;
}

.wedo{
    border-top: solid 6px #f4f4f4;
}
.my_head1{
    padding-bottom: 2em;
}

h3.heading{
    font-size: 2.5em;
    color: #046d32;
    line-height: 1em;
    letter-spacing: 0.04em;
    text-transform: capitalize ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4.heading{
    font-size: 2.5em;
    color: black;
    line-height: 1em;
    letter-spacing: 0.04em;
    text-transform: capitalize ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p.subs1{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.065em;
    color: #696569;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about-info-grids p{
    font-size: 17px;
    line-height: 1.8em;
    color: #777;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about-info-grids h4{
    font-size: 1.5em;
    line-height: 1.5em;
    color: #212121;
    font-weight: 600;
    text-transform: capitalize;
  margin: 30px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-ingfo span{
    color: #ffb500;
    font-size: 2.7em;
    width: 2.2em;
    border-radius: 100%;
    height: 2.2em;
    line-height: 2.2em;
    border: 2px solid #046d32;
}


section.news{
    background: #efefef;
}
.news p{
    font-size: 16px;
    line-height: 1.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section.news img{
    border-radius: 5px;
}

.news_btm h6{
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.04em;
    color: #404248;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.news_btm p{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.065em;
    font-size: 0.9em;
    color: #696969;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p.subs{
    text-transform: uppercase;
    font-weight: 700;
    color: #696969;
    width: 86%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section.my_blog{
    background: #efefef;
}
section.my_blog{
    color: #404248;
}
section.my_blog img{
    border-radius: 5px;
}
section.my_blog img{
    font-size: 16px;
    line-height: 1.8em;
    color: #777;
}

.my_blog_left1{
    border-bottom: solid 1px #dbdbdb;
    margin: 0 0 2.7em 0;
    padding: 0 0 2.7em 0;
}

.my_blog1{
    padding-left: 0;
}
.my_blog2{
    margin: 0;
}

section.foot-1{
    background: rgba(16, 16, 16, 0.85);
}

.foot-1 h3{
    font-size: 1.3em;
    font-weight: 800;
    letter-spacing: 0.04em;
    line-height: 1em;
    text-transform: uppercase;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.foot-top li{
    display: block;
    border-bottom: 1px solid rgba(172, 178, 191, 0.37);
    padding: 1em 0;
}

.foot-top li:last-child{
    border-bottom: none;
}

.foot-top li a{
    color: #acb2bf;
}

.contact-grid-right input[type="text"], .contact-grid-right input[type="email"], .contact-grid-right textarea{
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #777;
    background: lightgrey;
    width: 100%;
    letter-spacing: 1px;
    border: solid 1px rgba(0, 0, 0, 0.15);
    margin-top: 1em;
}
.contact-grid-right input[type="text"]:nth-child(2), .contact-grid-right input[type="email"]{
    margin: 1em 0;
}
.contact-grid-right textarea{
    min-height: 15em;
    margin: 1em 0em;
    resize: none;
}
.contact-grid-right input[type="submit"]{
    outline: none;
    padding: 14px 30px;
    font-size: 1em;
    color: #fff;
    background: #046d32;
    border: none;
    letter-spacing: 1px;
    border-radius: 0.25em;
    transition: 0.5s all;
    font-weight: 700;
    cursor: pointer;
}

.contact-grid-right input[type="submit"]:hover{
    background-color: #ffb500;
}

.foot_bottom{
    background-color: #2d2f35;
}

.cpy-right{
    padding: 3em 0;
    margin: 0em 0 0;
    border-top: 1px solid rgba (230, 230, 230, 0.15);
}

.cpy-right p{
    color: #999;
    letter-spacing: 2px;
}

ul.social_section_1info li{
    display: inline-block;
}
ul.social_section_1info a{
    color: #999;
    margin-right: 30px;
    font-size: 25px;
}

ul.social_section_1info a:hover{
    color:#fff;
}

@media screen and(max-width: 991px){
    h3.heading{
        font-size: 2em!important;
    }
    h4.heading{
        font-size: 2em!important;
        line-height: 1.4em;
    }
    p.subs{
        width:100%;
    }
    .my_blog_right{
        margin-top: 3em;
    }
    section.my_blog h3{
        font-size: 1.2em !important;
    }
    .foot-1-grid-right{
        margin-top: 2em !important;
    }
    .foot-1 h3{
        font-size: 1.2em !important;
    }
    .cpy-right p{
        margin-top: 1em !important;
    }
}
@media screen and(max-width: 736px){
    .about-ingfo{
        margin: 2em 0;
    }
    .my_blog2{
        padding: 1em 0;
    }
    .my_blog_right1{
        margin: 0;
    }
}

@media screen and(max-width: 667px){
    h3.heading{
        font-size: 28px !important;
    }
}

@media screen and(max-width: 568px){
    .foot-1-grid-middle{
        margin-top: 2em;
    }
}

@media screen and(max-width: 480px){
    h3.heading{
        font-size: 1.7em !important;
    }
    h3.heading{
         font-size: 1.7em !important;
    }
    .news_btm h6{
        font-size: 1.1em !important;
    }
    p.subs1, p.subs{
        font-size: 0.9em !important;
    }
    section.my_blog h3{
        font-size: 1.3em !important;
    }
    .foot-1 h3{
        font-size: 1.1em !important;
    }
}

@media screen and(max-width: 320px){
    nav.mnu{
        padding: 1em 0em;
    }

    .logo h1 a{
        font-size: 28px !important;
    }

    .news_btm h6{
        font-size: 1em !important;
    }
    .news_btm p{
        font-size: 15px !important;
    }
    .my_blog_left1, .my_blog_right1{
        margin: 0 0 1.7em 0;
        padding: 0 0 1.7em 0;
    }
}